fullnameOverride: kafbat-ui

yamlApplicationConfig:
  kafka:
    clusters:
      - name: weather-sim
        bootstrapServers: ${kafka_bootstrap_servers}
  auth:
    type: disabled
  management:
    health:
      ldap:
        enabled: false

resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 300m
    memory: 512Mi

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
