apiVersion: kafka.strimzi.io/v1
kind: KafkaNodePool
metadata:
  name: ${kafka_cluster_name}-pool
  namespace: ${observability_namespace}
  labels:
    strimzi.io/cluster: ${kafka_cluster_name}
spec:
  replicas: 1
  roles:
    - controller
    - broker
  storage:
    type: jbod
    volumes:
      - id: 0
        type: persistent-claim
        size: ${kafka_storage_size}
        deleteClaim: false
        kraftMetadata: shared
