apiVersion: kafka.strimzi.io/v1
kind: KafkaTopic
metadata:
  name: ${kafka_topic_name}
  namespace: ${observability_namespace}
  labels:
    strimzi.io/cluster: ${kafka_cluster_name}
spec:
  partitions: 3
  replicas: 1
  config:
    cleanup.policy: delete
    retention.ms: ${kafka_retention_hours * 60 * 60 * 1000}
